@use 'variables' as vars;

h1 {
    color: vars.$red-color;
}

h2 {
    color: green;
}

.course-logo {
    height: 130px;
    object-fit: cover;
}

.select-all-options {
    width: 160px;
    margin: 0 16px;
}